* {
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    font-family: Inter;
}
.container {
    width: 414px;
    height: 4498px;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 32px 15px 66px;
}
.menu {
    display: none;
}
.main {
    margin: 0px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 16px;
}
.announce {
    display: none;
}
.get-account {
    display: inline-flex;
    padding: 4px 16px;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background: #F2F9EB;

    color: #35414B;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px; /* 100% */
}
.title {
    color: #35414B;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
}
.description {
    color: #4E5A65;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px

}
.input {
    padding: 18px 61px;
    align-items: flex-start;
    gap: 10px;
    font-size: 16px;
    outline-style: none;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #E1E5EA;
}
.button {
    padding: 18px 61px;
    align-items: flex-start;
    text-align: center;
    font-size: 16px;
    gap: 10px;
    font-weight: 500;

    color: #fff;
    border-radius: 4px;
    border: 1px solid #794CFF;
    background: #794CFF;
}
.button:hover {
background-color: #714ae8;
}
.graph {
    width: 384px;
    height: 273.288px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 0px 48px -8px rgba(29, 40, 48, 0.18);
    margin-top: 16px;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 56.71px;
    color: #4E5A65;
    justify-content: center;
}
.trusted {
    font-size: 11px;
    font-weight: 400;
    line-height: 11px; /* 100% */
}
.icon-links__list {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.link-hidden {
    display: none;
}

